
/*====================================
      schedule page
=====================================*/
.ts-schedule-nav {
  text-align: center;
  margin-bottom: 90px;
}
.ts-schedule-nav ul {
  border: none;
}
.ts-schedule-nav ul li {
  margin: 0 3px;
}
.ts-schedule-nav ul li a {
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
  background: #f1f0f6;
  display: block;
  padding: 20px 50px;
  position: relative;
}
.ts-schedule-nav ul li a:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;
  border-color: transparent #fd7e14 transparent transparent;
  position: absolute;
  left: 0;
  bottom: -15px;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.ts-schedule-nav ul li a h3 {
  font-size: 24px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 0;
  text-transform: capitalize;
}
.ts-schedule-nav ul li a.active {
  background: #fd7e14;
  color: #fff;
}
.ts-schedule-nav ul li a.active h3 {
  color: #fff;
}
.ts-schedule-nav ul li a.active:before {
  opacity: 1;
}

.schedule-tabs-item .schedule-listing-item {
  position: relative;
}
.schedule-tabs-item .schedule-listing-item .schedule-slot-time {
  font-size: 14px;
  color: #fd7e14;
  margin-bottom: 10px;
  display: block;
}
.schedule-tabs-item .schedule-listing-item .schedule-slot-title {
  margin-bottom: 10px;
}
.schedule-tabs-item .schedule-listing-item .schedule-slot-name {
  font-size: 14px;
  line-height: 36px;
  color: #888888;
  font-weight: 700;
  margin-bottom: 5px;
}
.schedule-tabs-item .schedule-listing-item .schedule-slot-speakers {
  position: absolute;
  top: 60px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  box-shadow: 19.799px 19.799px 40px 0px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(135deg, #82e182 0%, #0acbf5 100%);
}
.schedule-tabs-item .schedule-listing-item:before {
  position: absolute;
  top: -30px;
  width: 2px;
  height: 100%;
  content: "";
  background: #f1f0f6;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}
.schedule-tabs-item .schedule-listing-item:after {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border: 2px solid #fd7e14;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  top: 80px;
  background: #fff;
}
.schedule-tabs-item .schedule-listing-item.schedule-left {
  padding: 60px 125px 20px 0;
  text-align: right;
  margin-top: 245px;
}
.schedule-tabs-item .schedule-listing-item.schedule-left .schedule-slot-speakers {
  right: 30px;
}
.schedule-tabs-item .schedule-listing-item.schedule-left:before {
  right: -17px;
}
.schedule-tabs-item .schedule-listing-item.schedule-left:after {
  right: -21px;
}
.schedule-tabs-item .schedule-listing-item.schedule-right {
  padding: 60px 20px 0px 125px;
  text-align: left;
}
.schedule-tabs-item .schedule-listing-item.schedule-right .schedule-slot-speakers {
  left: 30px;
}
.schedule-tabs-item .schedule-listing-item.schedule-right:before {
  left: -15px;
}
.schedule-tabs-item .schedule-listing-item.schedule-right:after {
  left: -19px;
}
.schedule-tabs-item .schedule-listing-item:hover:before {
  background: #fd7e14;
}
