

 .map-svg polygon{
    
    stroke: #FFF;
    stroke-width: 3px;
    width:50%;
  } 
  
  
  


    #H {
      /* background: url("https://media.istockphoto.com/photos/abstract-green-background-picture-id689323732?k=20&m=689323732&s=170667a&w=0&h=kiHwXAOV5A0qEFbqDmIz72tzul2MeZH653T3qWCdIOQ=") no-repeat center top; */
      padding-top: 20px;
      text-align: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-attachment: relative;
      background-position: center center;
      min-height: 700px;
      width: 100%;
      color: white;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }


    #yakro{
      fill:#05570c;
      stroke: #FFF;
      stroke-width: 3px;
      transition: fill 1S;



    }
    /* .main-menu__item-link{ color: orange !important;}  */
    /* .region-navigation{background-color: #fd7e14; color: white !important;} */




    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

    body {
        font-family: 'Poppins', sans-serif !important;
    }
    a:hover {
        text-decoration: none;
    }
    